# Python.
__pycache__/
*.py[cod]
*$py.class
*.so
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.env
.venv
env/
venv/
env.bak/
venv.bak/

# Terraform.
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc
